{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Edit the Article! 🚀</h1>

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h3>Details</h3>

            {{ include('article_admin/_form.html.twig', {
                button_text: 'Update!'
            }) }}
        </div>
        <div class="col-sm-4">
            <h3>References</h3>

            <ul class="list-group small">
                {% for reference in article.articleReferences %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ reference.originalFilename }}
                        <span>
                            <a href="{{ path('admin_article_download_reference', {
                                id: reference.id
                            }) }}"><span class="fa fa-download"></span></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>

            <hr>

            <form action="{{ path('admin_article_add_reference', {
                id: article.id
            }) }}" method="POST" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
            </form>

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js" integrity="sha256-OG/103wXh6XINV06JTPspzNgKNa/jnP1LjPP5Y3XQDY=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin_article_form.js') }}"></script>
{% endblock %}
